/* Dine styles her */
form {
  padding: 2rem;
  background: rgb(240, 230, 248);
  border-radius: 8px;
  display: grid;
  gap: 1rem;
  border-radius: 25px;
}

label,
input,
button {
  display: block;
  color: rgb(214, 164, 252);
  border-radius: 15px;
  padding: 10px;
}
.form-felt {
  display: grid;
  gap: 3px;
  border-radius: 15px;
}

h2 {
  color: rgb(214, 164, 252);
}

select {
  color: rgb(214, 164, 252);
  border-radius: 15px;
}
textarea {
  border-radius: 15px;
  color: rgb(214, 164, 252);
}
